@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
	--BGprimary: #d7d7d7;
	--BGsecondary: #ffffff;

	--primary: #bad1c2;
	--secondary: #428a80;

	--HLprimary: #d8ecd6;
	--HLsecondary: #5dad89;

	--glassshadow: #27543c5b;
	--textshadow: #434a2d1e;
	--shadow: #1e131f43;
	--text: #07211b;
	--altText: #ffffff;
}

*{
	font-family: "Roboto", sans-serif;
	color: var(--text);
}

body {
	background-color: var(--BGprimary);
	height:100%;
	margin: 0;
}

.page {
	box-sizing: border-box;
}

.profile-side {
	position: fixed;
	top: 0;
	
	width: 34%;
	height: 98vh;
	overflow: hidden;
	
	padding: 10px;

	background-image: url(../images/eve_test.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 

	box-shadow: inset -40px 0px 20pxpx  var(--shadow);
	color: var(--altText);

	display: flex;
	flex-direction: column;
	transition: 0.5s;
}


#salamin-logo {
	max-width: 100%;
	max-height: 100%;
	width: 250px;
	height: auto;
}


#salamin-logo:hover {
	cursor: pointer;
}

.side-content {

	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: auto;

	padding: 40px;
	gap: 10px;

	white-space: nowrap;

}

.side-message {
	font-size: 32px;
	font-weight: 300;
	color: var(--altText);
}

.user-info {
	font-weight: 200;
	color: var(--altText);
}

.side-footer {
	
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	justify-content: space-around;
	margin-top: 120px;
	margin-bottom: 10px;
	
}

.user-info-page {
    text-align: center;
    justify-content: center;
    margin:auto;
    padding: 4% 0;
    width: 100%;
    gap: 5px;
    border-radius: 10px;
    background-color: #bad1c2;
    align-content: middle;
	display: flex;
    flex-direction: column;
}

.user-pfp-page {
    margin: auto;
    border-style: none;
    border-radius: 10px;

    background-image: url(../images/eve_test.jpg);
    background-position: 975px -10px;
    height: 100px;
	width: 100px;
}



.username-action {
	font-weight: 100;
	letter-spacing: 3px;
	color: var(--altText);
	overflow: hidden;
}

#search {
	width: 100%;
	border: none;
	outline: none;
	font-size: 16px;
}


nav.search-action {
	display: flex;
	gap: 10px;
	margin-left: auto;
	align-items: center;
}


.filter-button{
	font-family: inherit;
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	
}

.dropdown-content{
	display: none;
	background-color: var(--BGsecondary);
	border-radius: 20px;
	box-shadow: 15px 30px 32px var(--shadow);

	padding: 10px;
	gap: 10px;
	

	z-index: 1;
	position: absolute;
	
	flex-direction: column;
	transform: translate(-80px, 130px);
	
	transition: 0.5s;
}

.dropdown-content a{
	transition: 0.5s;
	padding: 10px;
	border-radius: 10px;
}

.dropdown-content a:hover{
	background-color: var(--HLprimary);

}

nav.search-action:hover .dropdown-content {
	display: flex;
}


.timeline-page {
	display:flex;
	flex-direction: column;
	gap: 30px;
	margin: 20px;
	margin-left: 40%;
	margin-right: 10%;
	transition: 0.5s;

}

.page-header {
	align-content: middle;
	
	display: flex;
	
}

.search-bar {
	width: 100%;
	display: flex;
	padding: 10px;
	border-radius: 50px;
	width: 100%;
	height: 100%;
	margin-right: 20px;
	background-color: var(--BGsecondary);
	
}


.page-post {
	
	background-color: var(--BGsecondary);
	border-radius: 20px;
	padding: 10px;
	padding-left: 50px;
	display: flex;
	flex-direction: column;


}

input.post-title::placeholder, input.post-title {
	font-size: 24px;
}

.post-title {
	outline: none;
	border:none;
	height: 5vh;
	padding: 1vh 0;
}

.post-user {
	outline: none;
	border:none;
	height: 13vh;
	
}

.post-user-actions {

	align-content: center;
}

a {
	text-decoration: none;
}

.post-button {
	outline:none;
	border: none;
	
	background-color: var(--secondary);
	padding: 10px 30px;
	color: var(--BGsecondary);
	font-size: 20px;
	border-radius: 20px;
	float: right;

	transition: 0.5s;
	cursor: pointer;
}

.post-button:hover {
	background-color: var(--HLsecondary);
}

.page-content {

	display: flex;
	flex-direction: column;
	margin-left: 10%;
	
	width: auto;
	gap: 20px;
}

.post{
	display: flex;
	align-items: center;

	gap: 10px;
}

.post-vote {
	background-color: var(--BGsecondary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	

	border-radius: 20px 0px 0px 0px;
	width: 10%;

	padding: 10px 5px;
}

.post-query {
	font-size: 25px;
	
}

.post-details {
	font-weight: 300;
}

.post-text {
	padding: 10px;
	margin: auto;
	margin-left: 5%;
	
}

.page:after {
	content: "";
	display: table;
	clear: both;
}

ion-icon{
	font-size: 32px;
	color: var(--secondary);
}

ion-icon:hover, button:hover ion-icon {
	color: var(--HLsecondary)
}

div.side-footer ion-icon{
	color: var(--altText);
}

textarea, input[type="text"] {
	background-color: var(--BGsecondary);
	resize: none;
	border: none;
}



.post-pfp {
	position: relative;
	background-color: black;
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	flex-grow: 0;
	border-radius: 50% 50% 0px 0px;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 0.5s;

}

.user-pfp {

	background-image: url(../images/eve_test.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	width: 0px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 50% 50% 0% 0%;
	margin-left: auto;

	transform: translateX(-200px);

	transition: 0.2s;

}

.post-content {
	flex-grow: 1;
	height: 100px;
	position: relative;

	background-color: var(--primary);
	border: none;
	border-radius: 50px 10px 0px 10px;
	transition: 0.5s;
	display: flex;

	box-shadow: 15px 0px 32px var(--glassshadow);
	text-shadow: 0px 0px var(--textshadow);
}

.glasshover {
	cursor: pointer;
	overflow: hidden;
}

.post-content:hover, .post-pfp:hover{
	box-shadow: 15px 30px 32px var(--glassshadow);
	transform: translateY(-10px);
	background-color: var(--HLprimary);
	text-shadow: 0px 10px var(--textshadow);
}	

.glasshover::before {
	content: '';
	position: absolute;
	left: -200%;
	top: 0;


	background: linear-gradient(
		45deg,
		transparent 40%,
		#ffffff10 45%,
		#ffffff20 55%,
		transparent 60%
	);

	width: 200%;
	height: inherit;

	transition: 0.7s;
}

.glasshover:hover::before {
	left: 100%;
}


#pfp-1 {
	background-image: url(../images/pfp_soraru.jpg);
}

#pfp-2 {
	background-image: url(../images/pfp_kanae.jpg);
}

#pfp-3 {
	background-image: url(../images/pfp_kuzuha.jpg);
}

.pfp-4 {
	background-image: url(../images/pfp_eve.jpg);
}

@media only screen and (max-width: 1000px) {
    .post-query {
		font-size: 23px;
		
	}
	.timeline-page {
		margin-left: 10%;
	}

	.profile-side {
		transform: translateX(-500px);
	}

	.user-pfp {
		width: 50px;
		transform: translateX(0px);
		margin-right: 20px;
	
	}
}

@media only screen and (max-width: 720px) {

	.post-pfp {
		width: 0px;
	}
}

.post-page-header {
	align-content: middle;
	margin-top: 10px;
	display: flex;
}

.main-post-header {
	display: flex;
	flex-direction: row;
	height: auto;
}

.main-post {
	width: auto;
	height: auto;
	position: relative;

	padding: 30px;
	gap: 15px;

	background-color: var(--primary);
	border: none;
	border-radius: 20px;
	transition: 0.5s;

	box-shadow: 0px 10px 20px  var(--glassshadow);
	text-shadow: 0px 10px var(--textshadow);

	display: flex;
	flex-direction: column;

	
}

.post-title {
	height: auto;
	font-size: 30px;
	
}

.post-description {
	line-height: 25px;
	text-align: justify;
	
}

.post-footer {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.vote-post {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content:space-around;

	color: #433D3D;
	

	border-radius: 20px 0px 0px 0px;
	width: 15%;

	padding: 10px 0;
}

.poster-pfp {
	margin-left: auto;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 60px;
	width: 60px;

	border-radius: 50% 50% 0% 0%;

	background-image: url(../images/pfp_soraru.jpg);
}

.poster {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;

	color: #433D3D;
}

.username {
	cursor: pointer;
	color: #153462;
}

.upvote, .downvote {
	cursor: pointer;
}

.write-comment {
	width: auto;
  
	position: relative;

	padding: 30px;
	gap: 5px;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	border: none;
	border-radius: 10px;
	transition: 0.5s;

	display: flex;
	flex-direction: column;
}

.comment-box {
	outline: none;
	border:none;
	font-size: 15px;
	background-color: white;
	padding: 10px;
	display: flex;
	overflow:visible;
	flex-direction: column;
}

.comment-button {
	outline:none;
	border: none;
	
	background-color: #4fa095;
	padding: 10px 20px;
	color: #ececec;
	font-size: 15px;
	border-radius: 20px;
	float: right;
	margin-left: auto;

	transition: 0.5s;
	cursor: pointer;
}

.comment-button:hover {
	background-color: #428a80;
}

.comment-section {
	width: auto;
	height: auto;
	position: relative;

	padding: 30px;
	gap: 30px;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	border: none;
	border-radius: 10px;
	transition: 0.5s;

	display: flex;
	flex-direction: column;
}

.comment {
	display: flex;
	flex-direction: row;
	gap: 20px
}

.left-comment, .right-comment {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.pfp-comment {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 60px;
	width: 60px;
	border-radius: 50% 50% 0px 0px;
}

.vote-comment {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	
	gap: 5px;

	color: #433D3D;
	font-size: 15px;
	width: auto;

}

.commenter {
	font-weight: 500;
	color: #433D3D;
}

.commenter-clickable {
	cursor: pointer;
}

.comment-content {
	color: #433D3D;
	line-height: 25px;
	text-align: justify;
}

.post-settings {
	margin-left: auto;
	margin-right: -5px;
	position: relative;
  	display: inline-block;
}

.postsetbtn {
	cursor: pointer;
	outline: none;
	border: none;
	background-color: var(--primary);
}

.post-setting-option {
	border-radius: 10px;
	display: none;
  	position: absolute;
	transform: translate(-50px,0px);
  	background-color: var(--BGsecondary);
  	padding: 10px;

	overflow: auto;
  	box-shadow: 0px 8px 16px var(--shadow);
  	z-index: 1;
}

.post-option {
	outline: none;
	border: none;
	background-color: var(--BGsecondary);
	
	text-align: left;
	width: 100%;
	transition: 0.5s;
}

.post-option:hover {
	background-color: var(--BGprimary);
}

[contenteditable="true"]:active, [contenteditable="true"]:focus {
	outline: none;
	border: 1px solid #9fbeaa;
	border-radius: 10px;
}

.edit-button {
	outline:none;
	border: none;
	
	background-color: #4fa095;
	padding: 10px 20px;
	color: #ececec;
	font-size: 15px;
	border-radius: 20px;
	float: right;
	margin-left: auto;

	transition: 0.5s;
	cursor: pointer;
}

.edit-button:hover {
	background-color: #428a80;
}

.notice-box {
	text-align: center;
    justify-content: center;
    margin:auto;
    padding: 4% 0;
    width: 100%;
    gap: 5px;
    border-radius: 10px;
    background-color: white;
    align-content: middle;
	display: flex;
    flex-direction: column;
}

.show {
	display: block;
}

.user-id {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.display-name {
    padding: 5px 2px;
    font-weight: 500;
}

.username {
    padding:5px;
    font-weight:400;
    font-style: italic;
}

.user-bio {
    padding: 5px;
    width: 60%;
    margin: auto;
    gap: -2px;
}


.user-edit-profile {
    background-color: var(--primary);
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    width: fit-content;

    margin: auto;
}

.post-button {
	outline:none;
	border: none;
	
	background-color: #4fa095;
	padding: 10px 20px;
	color: #ececec;
	font-size: 15px;
	border-radius: 20px;
	float: right;
	margin-left: auto;

	transition: 0.5s;
	cursor: pointer;
}

.write-post {
	width: 92%;
	height: 100%;
	position: relative;

	padding: 30px;
	gap: 5px;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	border: none;
	border-radius: 10px;
	transition: 0.5s;

	display: flex;
	flex-direction: column;

    text-align: center;
    justify-content: center;
    align-content: middle;
}