@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
}

.header{
  position: fixed;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  z-index: 100;
  background: #4FA095;
}

.nav{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav_logo{
  font-size: 25px;
}

.nav_logo,
.nav_link,
.button{
  color: #fff;
}

button.nav_btn{
  padding: 6px 24px;
  border: 2px solid #153462;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(21, 52, 98);
  color: #fff;
}

button.nav_btn:active{
  transform: scale(0.98);
}

.home{
   position: relative;
   height:100vh;
   width: 100%;
   background-size: cover;
   background-position: center;
}

.home::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;

}

.home.show::before{
  opacity: 1;
  pointer-events: auto;
}

/* Login and Sign-up Form */

.form_content{
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0,0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.home.show .form_content {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.sign-up_form{
  display: none;
}

.form_content.active .sign-up_form {
  display: block;
}

.form_content.active .login_form {
  display: none;
}

.form_close{
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;

}

.form_content h2{
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}

.input_box{
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input_box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  border-bottom: 1.5px solid #aaaaaa;
  transition: all 0.2s ease;
}

.input_box input:focus{
  border-color: #4FA095;
}

.input_box i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.input_box i.email,
.input_box i.password{
  left: 0;
  color: #707070;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password{
 color: #4FA095;
}

.input_box i.pw_hide{
  right: 0;
  font-size: 18px;
  cursor: pointer;
}

.options{
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_content a{
  color: #4FA095;
  font-size: 12px;
}

.form_content a:hover{
  text-decoration: underline;
}

.checkbox{
  display: flex;
  white-space: nowrap;
  column-gap: 8px;
  cursor: pointer;
}

.checkbox input{
  accent-color: #4FA095;
}

.checkbox label{
  font-size: 12px;
  color: #0b0217;
  user-select: none;
  cursor: pointer;
}

.form_content .button{
  background: #4FA095;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}

.login_sign-up{
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}