@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

a{
	text-decoration: none;
  }
  
  .header{
	position: relative;
	height: 80px;
	width: 100%;
	padding: 0 20px;
	z-index: 100;
	background: #4FA095;
  }
  
  .nav{
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
  }
  
  .nav_logo{
	font-size: 25px;
  }
  
  .page-header {
	  align-content: middle;
	  column-gap: 20px;
	  display: flex;
	  
  }
  
  .search-bar {
	  width: 100%;
	  display: flex;
	  padding: 10px;
	  border-radius: 50px;
	  width: 100%;
	  height: 100%;
	  background-color: white;
	  
  }
  
  #search {
	  width: 100%;
	  border: none;
	  outline: none;
	  font-size: 16px;
  }
  
  
  nav.search-action {
	  display: flex;
	  gap: 10px;
	  margin-left: auto;
	  align-items: center;
  }
  
  .search-latest ion-icon,
  .search-popular ion-icon,
  .search-answered ion-icon,
  .search-unanswered ion-icon{
	font-size: 32px;
	color: #fff;
  } 
  
  .nav_logo,
  .nav_link,
  .button{
	color: #fff;
  }
  
  button.nav_btn{
	padding: 6px 24px;
	border: 2px solid #153462;
	border-radius: 6px;
	cursor: pointer;
	background-color: rgb(21, 52, 98);
	color: #fff;
  }
  
  button.nav_btn:active{
	transform: scale(0.98);
  }
  
  .home{
	 position: relative;
	 height:100vh;
	 width: 100%;
	 background-size: cover;
	 background-position: center;
  }
  
  .home::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-out;
  
  }
  
  .home.show::before{
	opacity: 1;
	pointer-events: auto;
  }

  /* Login and Sign-up Form */
  
  .form_content{
	position: fixed;
	max-width: 320px;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(1.2);
	z-index: 101;
	background: #fff;
	padding: 25px;
	border-radius: 12px;
	box-shadow: rgba(0,0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease-out;
  }
  
  .home.show .form_content {
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, -50%) scale(1);
  }
  
  .sign-up_form{
	display: none;
  }
  
  .form_content.active .sign-up_form {
	display: block;
  }
  
  .form_content.active .login_form {
	display: none;
  }
  
  .form_close{
	position: absolute;
	top: 10px;
	right: 20px;
	color: #0b0217;
	font-size: 22px;
	opacity: 0.7;
	cursor: pointer;
  
  }
  
  .form_content h2{
	font-size: 22px;
	color: #0b0217;
	text-align: center;
  }
  
  .input_box{
	position: relative;
	margin-top: 30px;
	width: 100%;
	height: 40px;
  }
  
  .input_box input{
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 0 30px;
	color: #333;
	border-bottom: 1.5px solid #aaaaaa;
	transition: all 0.2s ease;
  }
  
  .input_box input:focus{
	border-color: #4FA095;
  }
  
  .input_box i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
  }
  
  .input_box i.email,
  .input_box i.password{
	left: 0;
	color: #707070;
  }
  
  .input_box input:focus ~ i.email,
  .input_box input:focus ~ i.password{
   color: #4FA095;
  }
  
  .input_box i.pw_hide{
	right: 0;
	font-size: 18px;
	cursor: pointer;
  }
  
  .options{
	margin-top: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .form_content a{
	color: #4FA095;
	font-size: 12px;
  }
  
  .form_content a:hover{
	text-decoration: underline;
  }
  
  .checkbox{
	display: flex;
	white-space: nowrap;
	column-gap: 8px;
	cursor: pointer;
  }
  
  .checkbox input{
	accent-color: #4FA095;
  }
  
  .checkbox label{
	font-size: 12px;
	color: #0b0217;
	user-select: none;
	cursor: pointer;
  }
  
  .form_content .button{
	background: #4FA095;
	margin-top: 30px;
	width: 100%;
	padding: 10px 0;
	border-radius: 10px;
  }
  
  .login_sign-up{
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
  }

body {
	background-color: #ececec;
	height:100%;
	margin: 0;
}

.page {
	box-sizing: border-box;
}

#salamin-logo {
	
	max-width: 100%;
	max-height: 100%;
	width: 250px;
	height: auto;
	
	filter: invert(100%);
	

}

.timeline-page {
	display:flex;
	flex-direction: column;
	gap: 30px;
	margin: 20px;
	margin-left: 20%;
	margin-right: 20%;
	
}

.page-post {
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	padding-left: 50px;
	display: flex;
	flex-direction: column; 
}

input.post-title::placeholder, input.post-title {
	font-size: 24px;
}

.post-title {
	outline: none;
	border:none;
	height: 5vh;
	padding: 1vh 0;
}

.post-user {
	outline: none;
	border:none;
	height: 13vh;
	
}

.post-user-actions {

	align-content: center;
}

.post-button {
	outline:none;
	border: none;
	background-color: #4fa095;
	padding: 10px 30px;
	color: #ececec;
	font-size: 20px;
	border-radius: 20px;
	float: right;

	transition: 0.5s;
	cursor: pointer;
}

.post-button:hover {
	background-color: #428a80;
}

.page-content {

	display: flex;
	flex-direction: column;
	margin-left: auto;
	width: auto;
	gap: 20px;

}

.post{
	display: flex;
	align-items: center;

	gap: 10px;
}

.post-content {
	width: 60%;
	height: 120px;
	position: relative;
	margin: 0 auto;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #bad1c2;
	border: none;
	border-radius: 50px 10px 0px 10px;
	cursor: pointer;
	transition: 0.5s;

	display: flex;

}

.post-content::after{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;

	top: 0;
	left: 0;
	background: linear-gradient(
		45deg,
		transparent 50%,
		#ffffff10 58%,
		#ffffff32 67%,
		transparent 68%
	);

	background-size: 200% 100%;
	background-position:  165% 0;
	transition: 0.7s;
}

.post-content:hover:after{
	background-position: -20% 0;
}

.post-content:hover {
	box-shadow: 15px 30px 32px #00000010;
	transform: translateY(-10px);
	background-color: #d3e6cb;
}	

.post-vote {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	border-radius: 20px 0px 0px 0px;
	width: 10%;

	padding: 10px 5px;
}

.upvote,
.downvote{
	outline:none;
	border: none;
	background-color: #fff;

	transition: 0.5s;
	cursor: pointer;

}

.post-query {
	font-size: 25px;
}

.post-details {
	font-weight: 300;
}

.post-text {
	padding: 10px;
	padding-right: 30px;
	padding-left: 60px;

	display: flex;
	flex-direction: column;
	justify-content:center;
	
}

.page:after {
	content: "";
	display: table;
	clear: both;
}


.post-pfp {
	background-color: black;
	width: 100px;
	height: 100px;

	border-radius: 50% 50% 0px 0px;
}

ion-icon{
	font-size: 32px;
	color: #428a80;
}
