<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/css/index.css">

        {{!-- imports --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/signup.js"></script>
        <script src="/js/validator.min.js" type="text/javascript"></script>

        <!-- Unicons -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

        <title>Salamin | Sign-Up</title>
    </head>
    <body>

        {{!-- PAGE --}}
        <div class="page">

            {{!-- FORM --}}
            <div class="form_content">
                <a href="/"><i class="uil uil-times form_close"></i></a>
                {{!-- SIGN UP --}}
                <form id="signup" method="POST">
                    <h2>Sign-up</h2>

                    {{!-- DISPLAY NAME --}}
                    <div class="input_box">
                        <input type="text" name="name" id="name" placeholder="Name" required />
                        <i class="uil uil-user"></i>
                        <p id="nameError" class="error">{{nameError}}</p>
                    </div>
                    {{!-- DISPLAY NAME END --}}

                    {{!-- USERNAME --}}
                    <div class="input_box">
                        <input type="text" name="username" id="username" placeholder="Username" required />
                        <i class="uil uil-at"></i>
                        <p id="usernameError" class="error">{{usernameError}}</p>
                    </div>
                    {{!-- USERNAME END --}}
                    
                    {{!-- PASSWORD --}}
                    <div class="input_box">
                        <input type="password" name="password" id="password" placeholder="Enter Password" required />
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                        <p id="passwordError" class="error">{{passwordError}}</p>
                    </div>
                    {{!-- PASSWORD END --}}

                    {{!-- CONFIRM PASSWORD --}}
                    <div class="input_box">
                        <input type="password" name="password2" id="password2" placeholder="Confirm Password" required />
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                        <p id="password2Error" class="error">{{password2Error}}</p>
                    </div>
                    {{!-- CONFIRM PASSWORD END --}}
                    
                    {{!-- SIGNUP BUTTON --}}
                    <input type="submit" class="button" id="submit" style="color: white; text-decoration: none;" value="Sign-up Now">

                    {{!-- REDIRECT TO LOGIN --}}
                    <div class="login_sign-up">Already have an account?<a href="/login" id="sign-up"> Log-in</a></div>
                    {{!-- REDIRECT TO LOGIN END --}}
                </form>
                {{!-- SIGN UP END --}}

            </div>
            {{!-- FORM END --}}

        </div>
        {{!-- PAGE END --}}

    {{!-- ICON IMPORT --}}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {{!-- ICON IMPORT END --}}

    </body>
</html>