<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/index.css">

        {{!-- import --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script type="text/javascript" src="../js/purify.min.js"></script>
        <title>Salamin | Home</title>
    </head>
    <body>

        {{> sidebar}}
        {{!-- PROFILE SIDE END --}}

        {{!-- TIMELINE --}}
        <div class="page">

            {{!-- SEARCH BAR --}}
            <div class="page-header">
                
                <div class="search-bar">
                    <ion-icon name="search-outline"></ion-icon>
                    <form class="searchForm">
                        <input type="text" placeholder="Search..." id="search" name="search">
                    </form>
                    
                </div>

                {{!-- FILTER POSTS --}}
                <nav class="dropdown-container">
                    <ion-icon class="dropdown-button" name="filter-outline"></ion-icon>

                    <div class = "dropdown-items">
                        <button>Recent</button>
                        <button>Old</button>
                        <button>Popular</button>
                        <button>Unpopuar</button>
                    </div>
                </nav>
                {{!-- FILTER POSTS END --}}
            </div>
            {{!-- SEARCH BAR END --}}

            {{!-- POST PROMPT --}}
            <div class="box">
                
                <input type="text" placeholder="Title" class="post-title" id="post-title">
                <span class="textarea" role="textbox" id="post-box" contenteditable></span>
                
                <button type="submit" id="post-button">Post</button>
                
            </div>
            {{!-- POST PROMPT END --}}

            {{!-- POST PREVIEWS --}}
            <div class="page-content" id="page-content">
                {{#each posts}}
                    {{> postprev}}
                {{/each}}
            </div>
            {{!-- POST PREVIEWS END --}}
        
        </div>
        {{!-- TIMELINE END --}}

    {{!-- ICON IMPORT --}}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {{!-- ICON IMPORT END --}}


    <script src="../js/timeline.js"></script>

    </body>
</html>