@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
	--BGprimary: #d7d7d7;
	--BGsecondary: #ffffff;

	--primary: #bad1c2;
	--secondary: #459f93;

	--HLprimary: #d8ecd6;
	--HLsecondary: #87e9a8;

	--glassshadow: #27543c5b;
	--textshadow: #434a2d1e;
	--shadow: #1e131f43;
	--text: #07211b;
	--altText: #ffffff;
}

*{
	font-family: "Roboto", sans-serif;
	color: var(--text);
}

body {
	background-color: var(--BGprimary);
	height:100%;
	margin: 0;
}

input[type="text"] {
	background-color: var(--BGsecondary);
	resize: none;
	border-color: transparent;
	overflow: auto;
	outline: none;
	width: 100%;
}

.post-title {
	height: auto;
	font-size: 32px;
	font-weight: 400;
}
h1{
	font-weight: 400;
	font-size: 32px;
	margin: 0;
}

h2{
	font-size: 14px;
	font-weight: 300;
	margin: 0;
}

p {
	text-align: justify;
	line-height: 25px;
}

button {
	outline:none;
	border: none;
	
	background-color: var(--secondary);
	padding: 10px 20px;
	color: #ececec;
	font-size: 15px;
	border-radius: 20px;
	float: right;
	margin-left: auto;

	transition: 0.5s;
	cursor: pointer;

	height: fit-content;
}

button:hover {
	background-color: var(--HLsecondary);
}

ion-button{
	font-size: 32px;
	color: var(--secondary);
	transition: 0.5s;
}

ion-icon{
	font-size: 32px;
	color: var(--secondary);
	transition: 0.5s;
}

ion-button ion-icon {
	color: inherit;
}

ion-icon:hover, button:hover ion-icon {
	color: var(--HLsecondary)
}

/*side-profile*/

.profile-side {
	position: fixed;
	top: 0;
	
	width: 34%;
	height: 98vh;
	overflow: hidden;
	
	padding: 10px;

	background-image: url(../images/banner_eve.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 

	box-shadow: inset -40px 0px 20pxpx  var(--shadow);
	color: var(--altText);

	display: flex;
	flex-direction: column;
	transition: 0.5s;
}


#salamin-logo {
	max-width: 100%;
	max-height: 100%;
	width: 250px;
	height: auto;
}


#salamin-logo:hover {
	cursor: pointer;
}

.side-content {

	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: auto;

	padding: 40px;
	gap: 10px;

	white-space: nowrap;

}

.side-message {
	font-size: 32px;
	font-weight: 300;
	color: var(--altText);
}

.user-info {
	font-weight: 200;
	color: var(--altText);
}

.side-footer {
	
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	justify-content: space-around;
	margin-top: 120px;
	margin-bottom: 10px;
	color: var(--BGsecondary)
	
}

.side-footer * {
	color: var(--BGsecondary)
}

/* post-page css */

.post-side {
	display:flex;
	flex-direction: column;
	gap: 30px;
	margin: 20px;
	margin-left: 40%;
	margin-right: 10%;
	transition: 0.5s;
}

.post-page-header {
	display: flex;
	justify-content: space-between;
}

.box {
	width: auto;
	height: auto;
	position: relative;
	gap: 10px;

	padding: 30px;

	background-color:  var(--BGsecondary);
	border: none;
	border-radius: 20px;
	transition: 0.5s;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.box:empty {
	display: none;
}

.green {
	background-color: var(--primary);
	box-shadow: 0px 10px 20px  var(--glassshadow);
	text-shadow: 0px 10px 10px var(--textshadow);
}

.error-message {
	text-align: center;
}

.error-main {
	font-size: 20px;
	color: var(--text);
}

.error-subtext {
	font-size: 16px;
	color: var(--altText);
}

.post-header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.post-footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.vote-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-evenly;

	align-items: center;
	text-align: center;
	font-weight: 400;
}

.post-setting-options {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.glasshover {
	cursor: pointer;
	overflow: hidden;
}

.glasshover::before {
	content: '';
	position: absolute;
	left: -200%;
	top: 0;


	background: linear-gradient(
		45deg,
		transparent 40%,
		#ffffff10 45%,
		#ffffff20 55%,
		transparent 60%
	);

	width: 200%;
	height: inherit;
	z-index: 100;

	transition: 0.7s;
}

.glasshover:hover::before {
	left: 100%;
}

.dropdown-container {	
	margin-left: auto;
}

.dropdown-items {
	display: none;
	position: absolute;
	flex-direction: column;
	
	padding: 10px;
	border-radius: 20px;
	transform: translate(-50%,0);
	transition:0.5s;

	z-index: 1;
}
.dropdown-container:hover .dropdown-items {
	display: flex;
	gap: 10px;
}

.dropdown-items button{
	background-color: var(--BGprimary);
	color: var(--text);
	box-shadow: 0px 0px 5px var(--shadow);
}

.dropdown-items button:hover{
	background-color: var(--BGsecondary);
	color: var(--text);
}

.comment {
	display: flex;
	gap: 20px;
}

.comment-inner {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.full {
	flex-grow: 1;
}

.textarea {
	line-height: 20px; 
	background-color: var(--BGsecondary);
	resize: none;
	border-color: transparent;
	overflow: auto;
	outline: none;
	font-size: 16px;
}
  
.textarea[contenteditable]:empty::before {
content: "Write a comment...";
color: gray;
}



.comment-header {
	display: flex;
}

.comment-footer {
	display: flex;
}

.page-content {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	
	width: auto;
	gap: 20px;
}

.post{
	display: flex;
	align-items: center;

	gap: 10px;
}

.post-content {
	flex-grow: 1;
	height: 120px;
	position: relative;

	align-items: center;

	background-color: var(--primary);
	border: none;
	border-radius: 50px 10px 0px 10px;
	transition: 0.5s;
	display: flex;

	box-shadow: 15px 0px 32px var(--glassshadow);
	text-shadow: 0px 0px var(--textshadow);
}

.post-content:hover{
	box-shadow: 15px 15px 32px var(--glassshadow);
	transform: translateY(-10px);
	background-color: var(--HLprimary);
	text-shadow: 15px 15px 16px var(--textshadow);
}

.post-pfp {
	position: relative;
	background-color: black;
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	flex-grow: 0;
	border-radius: 50% 50% 0px 0px;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 0.5s;
}

.pfp-small {
	width: 60px;
	height: 60px;
	min-width: 60px;
}

a {
	text-decoration: none;
}

.vote-width {
	background-color: var(--BGsecondary);
	width: 60px;
	height: 120px;
	flex-shrink: 0;
	flex-grow: 0;
}

.post-text {
	padding: 10px;
	margin: auto;
	margin-left: 5%;
	flex-grow: 1;
}

.user-pfp {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	width: 0px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 50% 50% 0% 0%;
	margin-right: auto;

	transform: translateX(-200px);

	transition: 0.2s;

}

.page-header {
	align-content: middle;
	
	display: flex;
}

.searchForm {
	width: 100%;
	display: flex;
}

.search-bar {
	flex-grow: 1;
	display: flex;
	padding: 10px;
	border-radius: 50px;
	width: 100%;
	height: 100%;
	margin-right: 20px;
	background-color: var(--BGsecondary);
}

.page {
	display:flex;
	flex-direction: column;
	gap: 30px;
	margin: 3% 20%;
	transition: 0.5s;
}

.noPadding {
	padding: 0;
}

.user-banner{
	position: relative;
	background-color: transparent;
	width: 100%;
	height: 250px;
	
	background-size: cover;
	background-position:top;
	background-repeat: no-repeat;
}


.profile-info-header{
	display: flex;
	margin-left: 2%;
	margin-right: 2%;
}

.profile-info-body{
	display: flex;
	margin: 2%;
	flex-direction: column;
}

.user-bio{
	margin-top: 10px;
}

[contenteditable="true"]{
	font-style: italic;
}

/* temporary hiding, tho this button is supposedly for a dark theme feature */

ion-icon[name="sunny-outline"]{
	visibility: hidden;
}

#image-upload > input {
	display: none;
}

/* from the unregistered css */

.header{
	position: fixed;
	height: 40px;
	top: 0;
	left:0;

	width: 98%;
	padding: 20px 20px;
	z-index: 100;
	background: var(--primary);

	display: flex;
	align-items: center;
	gap: 10px;
  }
  
.header-logo{
	height: 40px;
	width: 200px;
	background-image: url(../images/salamin_logoSMALL.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
}

.home .page{
	margin-top: 100px;
}

.home{
	position: relative;
	height:100vh;
	width: 100%;
	top:0;

	background-size: cover;
	background-position: center;
 }

 .home::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-out;
  
  }

  

  .home.show::before{
	opacity: 1;
	pointer-events: auto;
  }

    /* Login and Sign-up Form */
  
	.form_content{
		position: fixed;
		max-width: 320px;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) scale(1.2);
		z-index: 101;
		background: #fff;
		padding: 25px;
		border-radius: 12px;
		box-shadow: rgba(0,0, 0, 0.1);
		opacity: 0;
		pointer-events: none;
		transition: all 0.3s ease-out;
	  }
	  
	  .home.show .form_content {
		opacity: 1;
		pointer-events: auto;
		transform: translate(-50%, -50%) scale(1);
	  }
	  
	  .sign-up_form{
		display: none;
	  }
	  
	  .form_content.active .sign-up_form {
		display: block;
	  }
	  
	  .form_content.active .login_form {
		display: none;
	  }
	  
	  .form_close{
		position: absolute;
		top: 10px;
		right: 20px;
		color: #0b0217;
		font-size: 22px;
		opacity: 0.7;
		cursor: pointer;
	  
	  }
	  
	  .form_content h2{
		font-size: 22px;
		color: #0b0217;
		text-align: center;
	  }
	  
	  .input_box{
		position: relative;
		margin-top: 30px;
		width: 100%;
		height: 40px;
		overflow: hidden;
	  }
	  
	  .input_box input{
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		padding: 0 30px;
		color: #333;
		border-bottom: 1.5px solid #aaaaaa;
		transition: all 0.2s ease;
	  }
	  
	  .input_box input:focus{
		border-color: #4FA095;
	  }
	  
	  .input_box i{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
	  }
	  
	  .input_box i.email,
	  .input_box i.password{
		left: 0;
		color: #707070;
	  }
	  
	  .input_box input:focus ~ i.email,
	  .input_box input:focus ~ i.password{
	   color: #4FA095;
	  }
	  
	  .input_box i.pw_hide{
		right: 0;
		font-size: 18px;
		cursor: pointer;
	  }
	  
	  .options{
		margin-top: 14px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	  }
	  
	  .form_content a{
		color: #4FA095;
		font-size: 12px;
	  }
	  
	  .form_content a:hover{
		text-decoration: underline;
	  }
	  
	  .checkbox{
		display: flex;
		white-space: nowrap;
		column-gap: 8px;
		cursor: pointer;
	  }
	  
	  .checkbox input{
		accent-color: #4FA095;
	  }
	  
	  .checkbox label{
		font-size: 12px;
		color: #0b0217;
		user-select: none;
		cursor: pointer;
	  }
	  
	  .form_content .button{
		background: #4FA095;
		margin-top: 30px;
		width: 100%;
		padding: 10px 0;
		border-radius: 10px;
	  }
	  
	  .login_sign-up{
		font-size: 12px;
		text-align: center;
		margin-top: 15px;
	  }


	  

@media only screen and (max-width: 1000px) {

	.post-side {
		margin-left: 10%;
	}

	.profile-side {
		transform: translateX(-500px);
	}

	.user-pfp {
		width: 50px;
		transform: translateX(0px);
		margin-right: 20px;
	
	}

	.page {
		margin-left: 0;
		margin-right: 0;
	}
}
@media only screen and (max-width: 720px) {
	.post-pfp {
		width: 0px;
	}

	

	h1 {
		font-size: 24px;
	}
}