<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Salamin | Home</title>

        <!-- Unicons -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    </head>
    <body>
        

        <!-- Home -->
        
            <div class="form_content show" >
                <i class="uil uil-times form_close"></i>

                <!-- Login Form -->
                <div class="login_form">
                    <form action="#">
                        <h2>Login</h2>

                        <div class="input_box">
                            <input type="username" placeholder="Enter your username" required />
                            <i class="uil uil-at"></i>
                        </div>

                        <div class="input_box">
                            <input type="password" placeholder="Enter your password" required />
                            <i class="uil uil-lock password"></i>
                            <i class="uil uil-eye-slash pw_hide"></i>
                        </div>


                        <div class="options">
                            <span class="checkbox">
                                <input type="checkbox" id="check">
                                <label for="check">Remember me</label>
                            </span>
                            <a href="#" class="forgot_pw">Forgot password?</a>
                        </div>

                        <button class="button">
                            <a href="/" style="color: white; text-decoration: none;">Login Now</a>
                        </button>

                        <div class="login_sign-up">Don't have an account yet? <a href="#" id="sign-up"> Sign-up</a></div>
                    </form>
                </div>
                    
                    
                </header>
    
            </div>
        

        
   
        
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="..\javascript\unregistered.js"></script>
    
    </body>
</html>
