<!DOCTYPE html>
<html>
<head>
	<title>Salamin | Home</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	

	<div class="page">
		{{!-- {{> header-nav-prev}} --}}
		<div class="post-page-header">
			<a href="timeline.html"><ion-icon name="arrow-back-outline"></ion-icon></a>
		</div>

        <div class="box green noPadding" id="profile-section">
            

        </div>

		<div class="box">
			<input type="text" placeholder="Title" class="post-title" id="post-title">
            <span class="textarea" role="textbox" id="post-box" contenteditable></span>
            
            <button id="post-button">Post</button>
        </div>

		<div class="page-content" id="page-content"> <!-- timeline -->
			
			
		</div>

	</div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	
</body>
</html>