<!DOCTYPE html>
<html>
<head>
	<title>Salamin | Home</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	
	<div class="profile-side glasshover"  onclick="location.href='profile-page.html?userID=4'"> <!-- side bar -->

		<div class="side-header"> <!-- logo -->
			<a href="/timeline"><img src="../images/salamin_logoSMALL.png" alt="Salamin" id="salamin-logo"></a>
		</div>

		<div class="side-content"> <!-- profile pic bg & profile text thing -->
			<div class="side-message">Good morning, {{displayName}}! <br> You're doing just fine. </div>
			{{!-- Good morning, displayName!
					You're doing just fine.  --}}
			<div class="user-info">{{numPosts}} posts | {{numComments}} comments</div>
		</div>

		<div class="side-footer"> <!-- action sprites (logout, username, settings) -->
			<ion-icon name="log-out-outline" onclick="event.stopPropagation(); window.location.href='/index'"></ion-icon>

			<div class="username-action">
				{{username}}
			</div>

			<ion-icon name="sunny-outline"></ion-icon>
			
		</div>
	</div>

	<div class="post-side">

		<div class="page-header"> <!-- search -->
			<div class="user-pfp glasshover"style="background-image: url(../images/pfp_eve.jpg)" onclick="location.href='profile-page.html?userID=4'"></div>
			<div class="search-bar">
				<ion-icon name="search-outline"></ion-icon>
				<form class="searchForm">
					<input type="text" placeholder="Search" id="search" name="filter">
				</form>
				
			</div>

			<nav class="dropdown-container">
				<ion-icon class="dropdown-button" name="filter-outline"></ion-icon>

				<div class = "dropdown-items">
					<button onclick="window.location.href = 'timeline.html?sortBy=recent';">Recent</button>
					<button onclick="window.location.href = 'timeline.html?sortBy=old';">Old</button>
					<button onclick="window.location.href = 'timeline.html?sortBy=popular';">Popular</button>
					<button onclick="window.location.href = 'timeline.html?sortBy=unpopular';">Unpopuar</button>
				</div>
			</nav>
		</div>


		<div class="box">
			<input type="text" placeholder="Title" class="post-title" id="post-title">
            <span class="textarea" role="textbox" id="post-box" contenteditable></span>
            
            <button id="post-button">Post</button>
        </div>

		<div class="page-content" id="page-content">
			{{#each posts}}
				{{> postprev}}
			{{/each}}
		</div><!-- timeline -->

	</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	
</body>
</html>