@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #ececec;
	height:100%;
}

.page {
	box-sizing: border-box;
}

.profile-side {
	position: sticky;
	top: 0;

/*	outline: 1px solid black;*/
	
	width: 34%;
	height: 100vh;
	float: left;
	margin: -8px;
	padding: 3px;

	background-image: url(../images/eve_test.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


}

.side-header {
	outline: 1px solid black;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	height: 10%;
	width: 98%;
}

#salamin-logo {
	outline: 1px solid black;

	max-width: 100%;
	max-height: 100%;
	width: 250px;
	height: auto;
	object-position: center top;
}

.side-content {
	outline: 1px solid black;
	box-sizing: border-box;
	position: absolute;
	width: 98%;
	top: 10%;
	bottom: 10%;
}

.side-footer {
	outline: 1px solid black;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	height: 10%;
	width: 98%;
	display: flex;
	flex-direction: row;
}

.logout-action {
	outline: 1px solid black;
	width: 15%;
	padding: 1vh 0;
}

.username-action {
	outline: 1px solid black;
	width: 70%;
	padding: 1vh 0;
}

.settings-action {
	outline: 1px solid black;
	width: 15%;
	padding: 1vh 0;
}

.timeline-page {
	outline: 1px solid red;
	display:block;
	overflow:auto;

	float: right;
	width: 66%;
/*	height: 150vh;*/
	margin: -6px;
	padding: 3px;
}

.page-header {
	outline: 1px solid pink;
	text-align: center;
	height: 30px;
	display: flex;
	
}

.search-bar {
	outline: 1px solid hotpink;
	
	width: 60%;
	height: 30px;
	
}

#search {
	border-radius: 8px;
	width: 80%;
	float:right;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 5px;
}

nav.search-action {
	outline: 1px solid deeppink;
	width: 40%;
	height: 25px;
	padding-top: 5px;
	margin-left:5px;
	float:left;
}

.page-post {
	outline: 1px dotted blue;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin: 20px 100px;
	display: flex;
	flex-direction: column;

	height: 25vh;
}

input.post-title::placeholder, input.post-title {
	font-size: 24px;
}

.post-title {
	outline: none;
	border:none;
	height: 5vh;
	padding: 1vh 0;
}

.post-user {
	outline: none;
	border:none;
	height: 13vh;
	padding: 5px 0;
}

.post-user-actions {
	outline: 1px dotted rebeccapurple;
	height: 4vh;
	padding: 0;
	align-content: center;
}

.post-button {
	outline:none;
	border: none;
	width: 10vh;
	background-color: #4fa095;
	padding: 5px 5px;
	color: #ececec;
	font-size: 20px;
	border-radius: 20px;
	float: right;
}

.post-button:hover {
	background-color: #428a80;
}

.page-content {
	outline: 1px solid red;

	display: flex;
	flex-direction: column;
/*	height: 100vh;*/
}

.post {
	outline: 1px dotted blue;
	background-color: white;
	height: 10vh;
	width: auto;
	border-radius: 10px;
	padding: 5px;
	margin: 10px 100px;
	display: flex;
	flex-direction: row;
}

.post-vote {

}

.post-content {
	background-color: #bad1c2;
}

.post-query {
	background-color: #bad1c2;
}

.post-details {
	background-color: #bad1c2;
}

.post-pfp {

}

.page:after {
	content: "";
	display: table;
	clear: both;
}